Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96

! special
*.foreground:   #eccddd
*.background:   #252525
*.cursorColor:  #eccddd

! black
*.color0:       #313131
*.color8:       #4b4747

! red
*.color1:       #9f3e43
*.color9:       #b03137

! green
*.color2:       #47834f
*.color10:      #337e3e

! yellow
*.color3:       #b2603b
*.color11:      #ba5c32

! blue
*.color4:       #52539e
*.color12:      #3a3dae

! magenta
*.color5:       #6b46b5
*.color13:      #5a2bb6

! cyan
*.color6:       #49899c
*.color14:      #276f85

! white
*.color7:       #a6a6a6
*.color15:      #e3e3e3
