/*
    general
*/

* {
    border: none;
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-style: normal;
    font-family: "AzukiFont Nerd Font";
    opacity: 1;
}

window#waybar,
#window {
    background-color: #faf4ed;
    color: #575279;
}

/*
    tag, workspace
*/

#workspaces,
#tags {
    padding-left: 1px;
    padding-right: 1px;
    background-color: #faf4ed;
    color: #575279;
}

#workspaces button,
#tags button {
    border-radius: 0;
    background-color: transparent;
    color: #575279;
}

#tags button.focused,
#workspaces button.active {
    color: #d7827e;
}

#cpu,
#mpd,
#clock,
#memory,
#disk,
#backlight,
#wireplumber,
#battery,
#network {
    color: #575279;
    padding-left: 10px;
    padding-right: 10px;
}
