/*
    general
*/

* {
    border: none;
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-style: normal;
    font-family: "FantasqueSansM Nerd Font Mono";
    opacity: 1;
}

window#waybar,
#window {
    background-color: #1d2021;
    color: #d4be98;
}

/*
    tag, workspace
*/

#workspaces,
#tags {
    border: 2px solid #d4be98;
    border-radius: 6px;
    background-color: #282828;
    color: #d4be98;
}

#workspaces button,
#tags button {
    border-radius: 0;
    background-color: transparent;
    color: #d4be98;
}

#tags button.focused,
#workspaces button.active {
    background-color: #32302f;
    color: #d8a657;
}

/*
    tray
*/

#tray {
    border-radius: 6px;
    background-color: #32302f;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

#mpd-group {
    border: 2px solid #d4be98;
    border-radius: 6px;
}

#wireplumber-group,
#network-group,
#backlight-group,
#disk-group,
#clock-group,
#memory-group,
#storage-group,
#battery-group,
#cpu-group {
    border: 2px solid #d4be98;
    border-radius: 6px;
    margin-left: 10px;
}

#custom-wireplumber_icon,
#custom-network_icon,
#custom-backlight_icon,
#custom-disk_icon,
#custom-clock_icon,
#custom-memory_icon,
#custom-mpd_icon,
#battery,
#custom-cpu_icon {
    background-color: #32302f;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "JetBrainsMono Nerd Font";
}

#cpu,
#mpd,
#clock,
#memory,
#disk,
#backlight,
#wireplumber,
#custom-battery-info,
#network {
    background-color: #1d2021;
    color: #d4be98;
    padding-left: 10px;
    padding-right: 10px;
}
