configuration{
	display-run: " ";
	display-drun: " ";
	display-window: "  ";
	font: "Iosevka Custom 10";
	modi: "window,run,drun";
}

* {
  /* Size */
  /* Sidebox */
  mode-switcher-padding: 0 0 50% 0;
  button-margin: 0.5em;
  button-padding: 1.5em 2em;
  button-selected-border: 0 0 0 0.3em;
  /* Mainbox */
  mainbox-padding: @button-margin; /* 0.5em */
  inputbar-padding: @button-margin; /* 0.5em */
  element-margin: 0.3em;
  element-padding: 1em;

  /* Color */

  bg: rgba ( 56, 56, 56, 100 % );
  sel-bg: rgba ( 64, 64, 64, 100 % );
  fg: rgba ( 220, 220, 204, 100 % );

  background-color: @bg;
  text-color: @fg;
}

#window {
  location: center;
  padding: 2em;
  border: 3px;
  border-color: @sel-bg;
}

#listview {
  layout: vertical;
  padding: 2em;
}

#element {
  padding: 0.5em;
}

#element.selected {
  background-color: @sel-bg; 
}